apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-nginx-app      # <-- This is the name we will check for
spec:
  replicas: 3
  selector:
    matchLabels:
      app: my-nginx
  template:
    metadata:
      labels:
        app: my-nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2 # A simple, common image
        ports:
        - containerPort: 80